@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;500;700&family=Spinnaker:wght@300;500;700&display=swap');

:root {
    --heading-font: 'Jura', sans-serif;
    --standard-font: 'Spinnaker', sans-serif;
}

/* containers */
body {
    font-family: var(--standard-font);
}

/* headings and fonts */
h1#main-heading {
    font-family: var(--heading-font);
    font-size: 5rem;
    line-height: 0.9;
    color: black;
    margin-top: 20px;
}

/* logos and images */

#nav-logo {
    height: 40px;
    margin-right: 12px;
}

#logo {
    width: 90px;
    margin-top: 28px;
    margin-right: 5px; 
}

.bottle {
    height: 60px;
    vertical-align: baseline;
    margin: 0 5px;
}